/***** LAYOUT *****/

*:focus {
  outline: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  margin: 0;
}

h3,
h5 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}

h3 {
  font-size: 27px;
  margin-top: 22px;
}

h5 {
  font-size: 20px;
}

.footerText {
  font-size: 11px;
}

.container {
  margin: 10px;
}

.container img {
  width: 20%;
  margin: 6px;
}

.container img.logo {
  position:absolute;
  left:15px;
}

.container.slide.inactive {
  display: none;
}

.container.slide.active {
  display: block;
}

section {
  padding-left: 1em;
  text-align: center;
  margin: 0;
  vertical-align: top;
  line-height: 0px;
  font-size: 18px;
  font-weight: 900;
  height: 80px;
}

.centeredBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.centeredBox h3 {
  color: #3CBF7B;
  font-size: 39px;
  margin: 0;
}

.centeredBox img {
  width: 40%;
  margin-bottom: 16px;
}

.checkAction {
  text-align: center;
}

.textCenter {
  text-align: center;
}


/***** BUTTONS *****/

.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 3px;
}

.btn.btn-primary {
  color: #fff;
  background-color: #4ab767;
  border-color: #4ab767;
}

.btn.btn-default {
  color: #333;
  background-color: #e8e8e8;
  border-color: #CCC;
}

.disabled {
  background-color: #DDD !important;
  cursor: not-allowed;
  border: 1px solid #CCC !important;
  color: #CCC;
}

.btn-close {
  position: fixed;
  right: 16px;
  top: 10px;
  height: 45px;
  width: 45px;
  margin-top: 0;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  font-size: 14px;
  margin-top: 0;
  opacity: 1;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  width: 44px;
  height: 44px;
  background-color: #FFF !important;
}

.btn-close img {
  width: 40%;
}

.btn-close:hover {
  background-color: #F2F2F2 !important;
}


/***** CHECKBOXES *****/

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 25px;
  height: 19px;
  display: inline-block;
  line-height: 19px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 19px;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 13px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -19px;
}

label.css-label {
  background-image: url(../img/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/***** PROGRESS BAR *****/

.container .progress {
  margin: 0 auto;
  width: 400px;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(96, 212, 127, 1), rgba(84, 189, 112, 1));
  background-image: -moz-linear-gradient(top, rgba(96, 212, 127, 1), rgba(84, 189, 112, 1));
  background-image: -o-linear-gradient(top, rgba(96, 212, 127, 1), rgba(84, 189, 112, 1));
  background-image: linear-gradient(to bottom, rgba(96, 212, 127, 1), rgba(84, 189, 112, 1));
}

#statusLabel {
  text-align: center;
  color: #1C5F9C;
}


/***** ERROR ALERTS *****/

.errors.error {
  width: 92%;
  line-height: 14px;
  padding: 4px;
  color: red;
  background-color: #f0b9b8;
  color: #000;
  border: 1px solid #e78f8e;
  text-align: center;
  display: none;
  margin: 10px;
  font-size: 12px;
  max-height: 150px;
}

.messages {
  display: block;
}


/***** FOOTER *****/

.footer {
  width: 100%;
  background-color: #DDD;
  padding: 22px 0;
  text-align: right;
  position: absolute;
  bottom: 0;
}

.footer .btn {
  margin-right: 12px;
}

.footer .btn:last-child {
  margin-right: 18px;
}

.form-control {
  display: block;
  width: 50%;
  height: 22px;
  margin-top: 0 auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.window-border {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px #4ab767 solid;
}

#proxyOptions {
  text-align: center;
}

#proxyOptions input {
  margin: 0 auto;
}
